:root{
    --bg--black: #000000;
    --bg--gray: #58616baa;
    --color-icon-green: #4bc800;
    --bg-footer: #222222;
    --color-red: #cb2100;
    --color-white: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}






/* header elements */




/* main elements */

main img{
    width: 100%;
   
}





/* footer elements */

.footer{
    height: 46px;
}








/* dimension row / element */
.row-img{
    width: calc(100% / 7);
}
.container{
    width: 90%;
    margin: 0 auto;
}




/* style element text */
.white{
    color: var(--color-white);
}
.black{
    background-color: var(--bg--black);
}
.light-black{
    background-color: var(--bg-footer);
}
.red{
    color: var(--color-red);
}
.gray{
    background-color: var(--bg--gray);
}
.border-radius{
    border-radius: 4px;
}




.fa-solid{
    font-size: 1.4em;
}

.fa-chevron-up{
    font-size: 0.8em;
}

footer .fa-solid{
    padding-bottom: 4px;
}









/* style padding / margin element */
.padd-text-header{
    padding: 5px;
}
.paddin-header{
    padding: 8px;
}
.paddin-footer{
    padding: 15px;
}
.padd-main{
    padding: 50px 0;
}
.padd-contain{
    padding: 30px 5px;
}

.margin-text-header{
    margin-right: 5px;
}


.padding-text-footer{
    padding: 0 20px;
    
}
.padding-right{
    padding-right: 4px;
}








/* position relative / absolute */
.pos-relative{
    position: relative;
}
.pos-absolute{
    position: absolute;
    bottom: 0;
    left: 5px;
}













/* display flex property */
.d-flex{
    display: flex;
}

.d-flex-end{
    justify-content: flex-end;
    align-items: center;
}

.d-flex-start{

    justify-content: flex-start;
}

.d-flex-center{
    justify-content: center;
    align-items: center;
}
.d-flex-column{
    flex-flow: column wrap;
}

.d-flex-wrap{
    flex-flow: row wrap;
}
/* .d-flex-nowrap{
    flex-flow: column nowrap;
} */

.d-flex-sp-between{
    justify-content: space-between;
}











